/* EITS TABLE */

.eits-table a {
    text-decoration: none;
}

.eits-table i {
    vertical-align: middle;
    font-size: 24px;
}

.main-fab {
    position: absolute;
    z-index: 20;
    font-size: 30px;
    top: 100px;
    left: 24px;
    transform: scale(.88, .88);
}

.eits-table-breadcrumb {
    padding-left: 88px;
}

.JCLRgrip:first-child {
    left: 105px !important;
    display: none !important;
}

.JColResizer th:first-child {
    width: 105px !important;
}

.eits-table {
    width: 100%;
    border-collapse: collapse;
}

.eits-table tbody tr:hover, .eits-table tbody .eits-table-tr:focus {
    cursor: pointer;
    background-color: rgba(63, 81, 181, 0.2);
}

.eits-table-header {
    border-bottom: 1px solid rgb(230, 230, 230);
    color: rgb(130, 130, 130);
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px 16px 16px 20px;
}

.eits-table-header span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eits-table-header a {
    text-decoration: none;
    color: inherit;
}

.eits-table-content {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 4px 16px 4px 20px;
    height: 72px;
    overflow-x: hidden;
}

.eits-table-content:focus {
    outline: none;
}

.eits-table-td-more {
    max-width: 72px;
    width: 72px;
    padding: 16px;
}

.eits-table-thumbs {
    max-width: 104px;
    width: 104px;
}

.eits-table-thumbs div {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.eits-table-footer {
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.eits-table-count-info {
    line-height: 40px;
    font-size: .75em;
}

.eits-table-footer-item {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.eits-table-active-page {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.grey {
    color: grey;
}

.eits-table-input-container.eits-table-default-theme .eits-table-input {
    color: white;
    border-color: white;
    margin-top: 24px;
}

.eits-table-selection-item {
    width: 40px;
}

.eits-table-selection-item > div {
    padding: 0px 22px;
}

.eits-table-content-row {
    perspective: 1300px;
}

.eits-table-content-row td {
    transform-style: preserve-3d;
}

.eits-table-content-row td.animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards;
}

@keyframes fallPerspective {
    100% {
        transform: translateZ(0px) translateY(0px) rotateX(0deg);
        opacity: 1;
    }
}

.eits-table md-checkbox {
    width: 20px;
    height: 32px;
}

/* FILTERS SIDEBAR */

eits-table-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f7f7f7;
}

eits-table-sidebar md-sidenav {
    background-color: #f7f7f7;
}

eits-table-sidebar .filter-switch {
    /* 	position: absolute; */
    /* 	left: 59px; */
    /* 	top: 3px; */
}

eits-table-sidebar .filters-close {
    position: absolute;
    right: 1px;
    top: 5px;
}

eits-table-sidebar-content {
    float: left;
    padding: 0 15px;
    width: 100%;
}

eits-table-sidebar .md-toolbar-tools {
    height: 60px;
    width: auto;
}

eits-table-sidebar-content .filter-label {
    margin: 0;
    font-size: 12px;
}

eits-table-sidebar-content .filter-field {
    margin: 10px auto;
    display: inline-block;
}

eits-table-sidebar-content md-select {
    margin: 0;
}

.eits-table-sidebar.ng-enter, .eits-table-sidebar.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    right: 0px;
}

.eits-table-headers-row.header-copy {
    display: inline-table;
    width: 100%;
    vertical-align: middle;
}

.eits-table-headers-row div {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}

.fixed-header {
    display: table-header-group;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    background-color: white;
    height: 64px;
    overflow-y: hidden;
    border-bottom: 1px solid rgb(230, 230, 230);
    visibility: hidden;
    opacity: 0;
}

.fixed-header.visible {
    opacity: 1;
    visibility: visible;
}