.drop {
    float:left;
    position: relative;
}

.dd {
    position:relative;
    padding:20px;
    height:20px;
}

.dd-menu {
    position: absolute;
    z-index: 1000;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    background-clip: padding-box;
    display: none;
    -webkit-transform: scale(1);
    overflow-x: hidden;
    overflow-y: auto;
    
}

.dd-menu.right-top.active {
    -webkit-transform-origin: right top 0px;
    -webkit-transform: scale(1);
    left: -140px;
}

.dd-menu.right-bottom.active {
    -webkit-transform-origin: right bottom 0px;
    -webkit-transform: scale(1);
    opacity:1;
    top: -225px;
    left: -145px;
}

.dd-menu.left-bottom.active {
    -webkit-transform-origin: left bottom 0px;
    top: -300px;
}

.dd-menu ul {
    min-width: 160px;
    padding: 5px 0;
    margin: 0px;
    list-style: none;
    position:relative;
}

.dd-menu.active {
    display: block;
    -webkit-transform-origin: left top 0px;
    -webkit-transform: scale(1);
    top: 25px;
    left: 0px;
}

.dd-menu li {
    color:#666;
    margin: 0;
    padding: 0px 15px;
    height: 32px;
    list-style: none;
    opacity: 0;
    cursor:pointer;
    transform: translateY(0px);
    line-height: 32px
}
.dd-menu li:hover{
    background:#eee;;
}
.dd-menu li {
    transform: translateY(-30%);
}
.dd-menu.active li {
    opacity: 1;
    transform: translateY(0px);
}